@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Open+Sans:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left, #4ca1af 0%, #2980b9 100%);
  font-family: "Fredoka", sans-serif;
  font-family: "Open Sans", sans-serif;
}
